<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#addBoardForm').submit();
		});
	});
</script>
<style th:include="/include/menu::css"></style>
</head>
<body>
 <div id="aside">
    <div th:include="/include/menu::sidemenu" class="sidenav"></div>     
 </div>
  <div id="section">
  		<form method="post" id="addBoardForm" th:action="@{/addBoard}">
  			<table class="table">	
		  		<tr>	
		  			<td>ID</td>
		  			<td>
			  			<!-- 관리자일 경우 -->
		  				<th:block th:if="${session.loginAdmin?.adminId}" >
		  					<input type="hidden" id="adminId" name="adminId" th:text="${session.loginAdmin?.adminId}" th:value="${session.loginAdmin?.adminId}">
		  				</th:block> 
			  			<!-- 일반회원일 경우 -->
			  			<th:block  th:if="${session.loginMember?.memberId}">
			  				<input type="hidden" id="memberId" name="memberId" th:text="${session.loginMember?.memberId}" th:value="${session.loginMember?.memberId}">
			  			</th:block>
			  		</td>
		  		</tr>	
		  		<tr>	
		  			<td>board title</td>
		  			<td><input type="text" id="boardTitle" name="boardTitle"></td>
		  		</tr>
		  		<tr>	
		  			<td>board content</td>
		  			<td><textarea rows="20" cols="70" id="boardContent" name="boardContent"></textarea></td>
		  		</tr>
  			</table>
  			<div>
  				<button type="button" id="btn" class="btn btn-primary">입력하기</button>
  			</div>
  		</form>
  </div>
</body>
</html>