<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#insertForm').submit();
		});
	});
</script>
</head>
<body>
 <div id="aside">
    <div th:include="/include/menu::sidemenu" class="sidenav"></div>     
 </div>
  <div id="section">
  	<h3 align="center">수입/지출 입력</h3>
	<form method="post" action="/addCash" id="insertForm">
		<input type="hidden" th:value="${memberId}" name="memberId">
		<table class="table">
			<tr>
				<td>cashKind</td>
				<td>
					<select name="cashKind">
						<option value="">수입/지출</option>
						<option value="수입">수입</option>
						<option value="지출">지출</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>categoryName</td>
				<td>
					<select name="categoryName">
						<option value="">카테고리</option>
						<option value="쇼핑">쇼핑</option>
						<option value="술">술</option>
						<option value="월급">월급</option>
					</select>
				</td>
			</tr>
				<td>cashPrice</td>
				<td><input type="text" id="cashPrice" name="cashPrice"></td>
			</tr>
			<tr>
				<td>cashPalce</td>
				<td><input type="text" id="cashPlace" name="cashPlace"></td>
			</tr>
			<tr>
				<td>cashMemo</td>
				<td><input type="text" id="cashMemo" name="cashMemo"></td>	
			</tr>
		</table>
	</form>
	<div>
		<button type="button" id="btn">입력하기</button>
	</div>
  </div>
</body>
</html>