<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>boardListDetail</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			if($('#commentContent').val() == ''){
				alert("댓글 내용을 입력하시지 않았습니다.");
				return;
			}
			$('#commentForm').submit();
		});
	});
</script>
<style th:include="/include/menu::css"></style>
</head>
<body>
 <div id="aside">
    <div th:include="/include/menu::sidemenu" class="sidenav"></div>     
 </div>
  <div id="section">
  		
	<table class="table">
		<tr>
			<td>board No</td>
			<td><input type="hidden" id="boardNo" name="boardNo" th:text="${b.boardNo}" readonly="readonly"></td>
		</tr>	
  		<tr>	
  			<td>ID</td>
  			<td>
  				<input type="hidden" id="adminId" name="adminId" th:text="${b.adminId}">
  				<input type="hidden" id="memberId" name="memberId" th:text="${b.memberId}">
	  		</td>
  		</tr>	
  		<tr>	
  			<td>board title</td>
  			<td><input type="hidden" id="boardTitle" name="boardTitle" th:text="${b.boardTitle}" readonly="readonly"></td>
  		</tr>
  		<tr>	
  			<td>board content</td>
  			<td><textarea rows="10" cols="100" id="boardContent" name="boardContent" th:text="${b.boardContent}" readonly="readonly"></textarea></td>
  		</tr>
	</table>
	<div>
		<!-- 관리자일 경우 -->
  		<th:block th:if="${session.loginAdmin?.adminId}" >
			<a th:href="@{/getBoardListAdmin}" class="btn btn-primary">뒤로가기</a>
		</th:block>
		<!-- 일반회원일 경우 -->
	  	<th:block  th:if="${session.loginMember?.memberId}">
			<a th:href="@{/getBoardListMember}" class="btn btn-primary">뒤로가기</a>
		</th:block>
	</div><br><br>
	
	<!-- 댓글 -->
	<h3>comment List</h3>
	<!-- 댓글입력창	 -->
	<div class="container mt-3">
	  <form method="post" action="/addComment" id="commentForm">
	    <div class="input-group mb-3">
	      <input type="hidden" th:value="${b.boardNo}" name="boardNo">
	      <input type="hidden" th:value="${session.loginMember?.memberId}" name="memberId">
	      <input type="hidden" th:value="${session.loginAdmin?.adminId}" name="adminId">
	      <input type="text" class="form-control" placeholder="댓글을 입력하세요." id="commentContent" name="commentContent">
	      <div class="input-group-append">
	        <button class="input-group-text" type="button" id="btn">입력하기</button>
	      </div>
	    </div>
	  </form>
	</div>
	<br>
	<table board="1" class="table">
			<tr>	
				<td>ADMIN</td>
				<td>memberId</td>
				<td>comment content</td>
				<td>delete</td>
			</tr>
		<th:block th:each="c : ${comment}">
			<tr>
				<td th:text="${c.adminId}"></td>
				<td th:text="${c.memberId}"></td>
				<td th:text="${c.commentContent}"></td>
				<td>
					<th:block th:if="${session.loginMember?.memberId == c.memberId}">
						<a th:href="@{/removeComment(commentNo=${c.commentNo}, boardNo=${c.boardNo})}">삭제&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</th:block>
					<th:block th:if="${session.loginAdmin?.adminId == c.adminId}">
						<a th:href="@{/removeComment(commentNo=${c.commentNo}, boardNo=${c.boardNo})}">삭제&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</th:block>
				</td>
			</tr>
		</th:block>
	</table>
	
  </div>
</body>
</html>