<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#updateForm').submit();
		});
	});
</script>
</head>
<body>
 <div id="aside">
    <div th:include="/include/menu::sidemenu" class="sidenav"></div>     
 </div>
  <div id="section">
  <h1></h1>
  <h3 align="center">수입/지출 수정</h3>
	<form method="post" action="/modifyCash" id="updateForm">
		<table class="table">
			<tr>
				<td>cashNo</td>
				<td><input type="hidden" th:text="${cash.cashNo}" th:value="${cash.cashNo}" id="cashNo" name="cashNo" readonly="readonly"></td>
			</tr>
			<tr>
				<td>memberId</td>
				<td><input type="hidden" th:text="${cash.memberId}" th:value="${cash.memberId}" id="memberId" name="memberId" readonly="readonly"></td>
			</tr>
			<tr>
				<td>cashKind</td>
				<td>
					<select name="cashKind">
					 	<option value="${cash.cashKind}" th:text="${cash.cashKind}"></option>
					 	<option value="수입">수입</option>
					 	<option value="지출">지출</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>categoryName</td>
				<td>
					<select name="categoryName">
						<option value="${cash.categoryName}" th:text="${cash.categoryName}"></option>
						<option value="쇼핑">쇼핑</option>
						<option value="술">술</option>
						<option value="월급">월급</option>
					</select>
				</td>
			</tr>
				<td>cashPrice</td>
				<td><input type="text" th:value="${cash.cashPrice}" id="cashPrice" name="cashPrice"></td>
			</tr>
			<tr>
				<td>cashPalce</td>
				<td><input type="text" th:value="${cash.cashPlace}" id="cashPlace" name="cashPlace"></td>
			</tr>
			<tr>
				<td>cashMemo</td>
				<td><input type="text" th:value="${cash.cashMemo}" id="cashMemo" name="cashMemo"></td>	
			</tr>
		</table>
	</form>
	<div>
		<button type="button" id="btn">수정하기</button>
	</div>
</div>
</body>
</html>