<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
 .prev {
  float:left; }
 .next {
  display:inline-block;}  
</style>
</head>
<body>
<div class="container">
    <div th:include="/include/menu::sidemenu"></div>
	<h1>2020 가계부</h1>
	<h1 class="text-center" th:text="${day}"></h1>
	<div>
		<a th:href="@{/getCashListByDate(day = ${day.plusDays(-1)})}" class="prev btn btn-primary">이전</a>
		<a th:href="@{/getCashListByDate(day = ${day.plusDays(+1)})}" class="next btn btn-primary">다음</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>카테고리</td>
				<td>수입</td>
				<td>지출</td>
				<td>장소</td>
				<td>메모</td>
				<td>삭제</td>
				<td>수정</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cash, index :${list}">
		         <td th:text="${index.index}+1"></td>
		         <td th:text="${cash.categoryName}"></td>
		         
		         <!-- thymeleaf if-else믄 : if/unless -->
		         <td th:if="${cash.cashKind} == '수입' " th:text=" '+' + ${cash.cashPrice}"></td>
		         <td th:unless="${cash.cashKind} == '수입'"> </td>
		         <td th:if="${cash.cashKind} == '지출' " th:text=" '-' + ${cash.cashPrice}"></td>
		         <td th:unless="${cash.cashKind} == '지출'"> </td>
		        
		         <td th:text="${cash.cashPlace}"></td>
		         <td th:text="${cash.cashMemo}"></td>
		         
		         <!-- cashNo 값을 넘겨줌 -->
		         <td><a th:href="@{/removeCash(cashNo=${cash.cashNo})}">삭제</a></td>
		         <td><!--<a th:href="">수정</a>--></td>
	        </tr>
	     </tbody>
	</table>
	<div>(수입 + 지출) 합계 : <span th:text="${cashKindSum}"></span></div>
	<div>
		<!-- <a th:href="">입력</a>-->
	</div>
</div>
</body>
</html>