<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
</head>
<body>
<div id="aside">
    <div th:include="/include/menu::sidemenu" class="sidenav"></div>     
 </div>
  <div id="section">
   <h1>HOME</h1>
   		<!-- 구현한 기능 설명 -->
		<div align="left">
			- 회원가입 폼(jquery) / 액션 (img파일 추가기능) = 아이디 중복 검사 <br>
			- 아이디 / 비밀번호 찾기 (회원 정보와 이메일 가져와 이메일로 암호화된 비밀번호 보내줌)<br>
			- 관리자 전용 , 일반 회원 전용으로 나눠서 session 값 두개로 뷰 구현 <br>
				[일반 회원]<br>
					- 사이드 메뉴 (홈 / 회원정보 / 일별 가계부 관리 / 월별 가계부 관리 / 게시판 / 로그아웃)<br>
				[관리자]<br>
					- 사이드 메뉴 (홈 / 게시판 / 로그아웃)<br> 
					-
		</div>
   </div>
</body>
</html>