<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CommentMapper">  
	<!-- delete comment -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM cashbook_comment
		WHERE comment_no = #{commentNo}
	</delete>
	
	<!-- comment list -->
	<select id="commentList" resultType="com.gdu.cashbook.vo.Comment" parameterType="int"> 
		SELECT
			comment_no commentNo,
			board_no boardNo,
			member_id memberId,
			admin_id adminId,
			comment_content commentContent
		FROM cashbook_comment
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- addComment -->
	<insert id="insertComment" parameterType="com.gdu.cashbook.vo.Comment">
		INSERT INTO cashbook_comment(
			board_no,
			member_id,
			admin_id,
			comment_content
		)VALUES(
			#{boardNo},
			#{memberId},
			#{adminId},
			#{commentContent}
		)
	</insert>
</mapper>